*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    min-height:100vh;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('../images/community.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.forgot-card{
    width:100%;
    max-width:550px;
    background:white;
    border-radius:30px;
    padding:60px 50px;
    box-shadow:0 10px 40px rgba(0,0,0,0.15);
}

.logo{
    width:220px;
    margin:0 auto 30px;
}

.logo img{
    width:100%;
}

.forgot-card h1{
    text-align:center;
    font-size:38px;
    color:#a96c41;
    margin-bottom:15px;
}

.forgot-card p{
    text-align:center;
    color:#666;
    line-height:1.7;
    margin-bottom:35px;
}

.form-group{
    margin-bottom:25px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    color:#555;
}

.form-group input{
    width:100%;
    padding:16px 18px;
    border-radius:12px;
    border:1px solid #ddd;
    background:#f9f9f9;
    font-size:16px;
    outline:none;
    transition:0.3s;
}

.form-group input:focus{
    border-color:#a96c41;
    background:white;
}

.form-group:focus-within label{
    color: #d99173;
}

.reset-btn{
    width:100%;
    padding:16px;
    border:none;
    border-radius:40px;
    background:#a96c41;
    color:white;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

.reset-btn:hover{
    background:#8c5732;
}

.back-login{
    margin-top:25px;
    text-align:center;
}

.back-login a{
    text-decoration:none;
    color:#777;
}

.back-login a:hover{
    color:#a96c41;
}